@media screen and (hover:hover){
  #boton:hover{
    animation: gradient 4s ease infinite,
                ani2 1s ease-in-out infinite;
    background-image: radial-gradient(#ff0000, #2f00ff);
    background-size: 400% 400%;
    text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 10px #ff0000,
      0 0 18px #2f00ff;
    box-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 10px #ff0000,
      0 0 18px #2f00ff;
  }
  #boton:active{
    background: white;
    color: black;
    font-weight: 900;
  }
  .top a:hover{
    transform:scale(1.05);
    animation: ani1 1s ease-in infinite;
    border-radius: 5px ;
    background-color: rgba(0, 0, 0, 0.541);
    }}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;}
@font-face {
  font-family: Tech;
  src: url("../font/OriginTech\ personal\ use.ttf")}
@font-face {
  font-family: Inter;
  src: url("../font/Inter-VariableFont_slnt\,wght.ttf") format("truetype");}
html, body{
  height:100%;}
body{
  background-image: url("../resource/background_340x720.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif,Verdana, Geneva, Tahoma, sans-serif,'Times New Roman', Times, serif;}
main{
  width: 65%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  overflow:auto;
  padding: 2.5%;
  border-radius: 7px;
  border: 4px solid #fff;
  color: #fff;
  box-shadow:
  0 0 7px rgba(183, 0, 255, 0.856),
  0 0 10px #fff,
  0 0 21px rgb(195, 0, 255),
  0 0 102px rgb(255, 0, 0),
  0 0 151px rgb(0, 89, 255);}
.top{
  display: flex;
  text-align: center;
  background-color: rgba(0,0,0,0.541);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;}
.top h2{
  font-family: Tech;
  width: 60%;
  font-size: 200%;
  padding: 2% 0 2%;
  text-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;}
.top a{
  width: 40%;
  transition: transform 1s ;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 10px;
  text-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;
  box-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;}
.form-group{
  background: linear-gradient(#0000008a, #00000000);
  background: -moz-linear-gradient(#0000008a, #00000000);
  background: -webkit-linear-gradient(top, #0000008a,#00000000);
  background: -o-linear-gradient(top,#0000008a, #00000000);
  background:-ms-linear-gradient(top, #0000008a,#00000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;}
.box-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .6rem;
  width: 90%;}
.box-in label{
  margin-bottom: .3rem;}
.entrada{
  width: 90%;
  background-color: rgba(0,0,0,0.301);
  border: 1px solid #fff;
  border-radius: 10px;
  color:#fff;
  text-align: center;
  height: 1.5rem;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #ff0000,
    0 0 18px #2f00ff;}
.entrada::placeholder{
  text-align: center;
  color: rgba(255, 255, 255, 0.521);}
.entrada:valid{
  background-color: #fff;
  color: #000;}
.tyc{
  width: 80%;
  text-align: center;
  margin-top: 8%;}
#term{
  margin-right: 8%;}
#boton{
  padding: .6rem 1.8rem;
  border-radius: 40px;
  margin: 7% 0 7%;
  border: 2px solid #fff;
  background-color: #000;
  transition: transform .5s ease-in-out 0s;
  color: #fff;
  font-family: Inter;
  font-weight: 600;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #ff0000,
    0 0 18px #2f00ff;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #ff0000,
    0 0 18px #2f00ff;}
.gradient-pattern {
  animation: gradient 4s ease infinite;
  background-image: radial-gradient( #ff0000, #2f00ff);
  background-size: 400% 400%;}
@keyframes gradient {
        0% {
      background-position: 51% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 51% 0%;
}}
@keyframes ani1 {
  0%{font-size: 100%;
    background-color: rgba(0, 0, 0, 0.349);
  }
  50%{
    background-color: #000;
    font-size: 120%;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #ff0000,
    0 0 25px #ff0000,
    0 0 30px #ff0000,
    0 0 35px #1100ff,
    0 0 40px #1100ff,
    0 0 45px #2f00ff;
  }
  100%{
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.349);
  }}
@keyframes ani2 {
  0%{
    transform: scale(1);
  }
  50%{
    transform:scale(1.05);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #ff0000,
    0 0 25px #ff0000,
    0 0 30px #ff0000,
    0 0 35px #1100ff,
    0 0 40px #1100ff,
    0 0 45px #2f00ff;
  }
  100%{
    transform:scale(1)
  }}
@media (min-width:340px) {
  body{
    background-image:url("../resource/background_390x720.jpg")
  }}
@media (min-width:390px) {
  body{
    background-image:url("../resource/background_425x720.jpg")}} 
@media (min-width:425px) {
  body{
    background-image:url("../resource/background_500x768.jpg")}
  main{
    width: 60%;
    padding: 2%;
  }
  .top h2{
    font-size:210%
  }}
@media (min-width:500px) {
  body{
    background-image:url("../resource/background_610x1024.jpg")}
  .box-in{
    flex-direction: row;
    justify-content: space-between;
    margin-top: .9rem;
  }
  .box-in label{
    width: 40%;
    text-align: center;
    margin-bottom: 0;
  }
  .entrada{
    width:60%;
  }
  #boton{
    padding: .9rem 2.7rem;
    margin: 6% 0;
  }}
@media (min-width:530px) {
  main{
    width: 58%;
  }
  .top h2{
    font-size:220%
  }
  #term{
    margin-right: 3%;
  }}
@media (min-width:610px) {
  body{
    background-image:url("../resource/background_720x1024.jpg")}
  main{
    width: 50%;
    padding: 1.5%;
  }}
@media (min-width:720px) {
  body{
    background-image:url("../resource/background_875x1024.jpg")}
  main{
    width: 45%;
  }
  .top a{
    width: 34%;
  }
  .top h2{
    width: 66%;
    font-size:240%
  }
  #boton{
    margin-bottom: 4%;
  }}
@media (min-width:797px) {
  main{
    width: 40%;
  }}
@media (min-width:875px) {
  body{
    background-image:url("../resource/background_1024x1080.jpg")}
  main{
    padding: 1%;
  }}
@media (min-width:1024px) {
  body{
    background-image:url("../resource/background_1366x1080.jpg")}
  main{
    width: 32%;
  }
  .top h2{
    font-size:260%
  }}
@media (min-width:1195px) {
  main{
    width: 28%;
  }
  .top a{
    width: 30%;
  }
  .top h2{
    width: 70%;
  }}
@media (min-width:1366px) {
  body{
    background-image:url("../resource/background_1440x1080.jpg")}
  main{
    width:24%;
    padding: 0.7%;}
  .top h2{
    font-size: 290%;
  }}
@media (min-width:1440px) {
  body{
    background-image:url("../resource/background_1920x1080.jpg")
  }}
@media (min-width:1831px) {
  main{
    width:20%}}
@media (max-height:580px) {
  body{
    font-size: 12px;
  }}
@media (max-width:1024px) and (orientation:landscape) {
  main{
    width: 40%;
  }
  .form-group{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top a{
    width: 30%;
  }
  .box-in{
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .6rem;
  }
  .box-in label{
    width: 100%;
    margin-bottom:.4rem;
    text-align: center;
  }
  .entrada{
    width: 90%;
  }
  .tyc{
    width: 100%;
    margin-top: .8rem;
  }
  #boton{
    margin: .8rem 0;
    padding: .8rem 2.8rem;
  }}
@media (max-width:855px) and (orientation:landscape) {
  #boton{
    margin:.5rem 0
  }}
@media (max-width:768px) and (orientation:landscape) {
  main{
    width: 50%;
    padding:1%
  }
  .box-in{
    margin-top: .3rem;
  }
  .box-in label{
    margin-bottom:.3rem;
  }
  .tyc{
    margin-top: .5rem;
  }
  #boton{
    margin: .5rem 0;
    padding: .5rem 2.5rem;
  }}
@media (prefers-reduced-data: reduce) {
  body{
    background-image: none;
  }
  .form-group{
    font-family: Arial, Helvetica, sans-serif;
  }
  .top h2{
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .boton{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    box-shadow: none;
  }}
@media screen and (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;}
  .gradient-pattern, #boton:hover{
    background-image: linear-gradient(to bottom right ,#ff0000,#0000ff );
    background-size:cover;
  }}
