@media screen and (prefers-reduced-motion: reduce){
    *{
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;}}
@media screen and (hover:hover){
  #boton:hover{
    animation: gradient 4s ease infinite,
                ani2 1s ease-in-out infinite;
    background-image: radial-gradient( #ff0000, #2f00ff);
    background-size: 400% 400%;
    text-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 10px #ff0000,
      0 0 18px #2f00ff;
      box-shadow:
      0 0 3px #fff,
      0 0 5px #fff,
      0 0 10px #ff0000,
      0 0 18px #2f00ff;
  }
  #boton:active{
    background: white;
    color: black;
    font-weight: bold;
  }   
  .top a:hover{
    transform:scale(1.05);
    animation: ani1 1s ease-in infinite;
    border-radius: 5px;
    background-color: rgba(14, 3, 3, 0.541);
  }}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}
@font-face {
    font-family: Tech;
    src: url("../font/OriginTech\ personal\ use.ttf");}
@font-face {
  font-family: Inter;
  src: url("../font/Inter-VariableFont_slnt\,wght.ttf") format("truetype");}
html, body{
  height: 100%;}
body{
  background-image: url("../resource/background_340x720.jpg");
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;}
.container{
  width:65%;
  padding: 2.5%;
  border-radius:10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border: solid 4px #fff;
  box-shadow:
  0 0 7px rgba(183, 0, 255, 0.856),
  0 0 10px #fff,
  0 0 21px rgb(195, 0, 255),
  0 0 102px rgb(255, 0, 0),
  0 0 151px rgb(0, 89, 255);}
.top{
  display: flex;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.541);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;}
.top a{
  width: 35%;
  transition: transform 1s;
  text-decoration: none;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: Inter;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 10px;
  text-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;
  box-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;}
.top h2{
  width: 65%;
  font-family: Tech;
  font-size: 190%;
  text-align: center;
  color: #fff;
  padding: 2% 0;
  text-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;}
.form-group{
  background: linear-gradient(rgba(0, 0, 0, 0.541), #00000000);
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;}
.box-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .6rem;
  width: 90%;}
.box-in label{
  margin-bottom: .3rem;}
.entrada{
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  height: 1.5rem;
  text-align:center;
  background-color:rgba(0, 0, 0, 0.301);
  box-shadow:
  0 0 3px #fff,
  0 0 5px #fff,
  0 0 10px #ff0000,
  0 0 18px #2f00ff;}
.entrada::placeholder{
  text-align: center;
  color: rgba(255, 255, 255, 0.521);}
.entrada:valid{
  background-color: #fff;
  color: #000;}
.lost-pass{
  text-decoration: none;
  color: #fff;
  font-style: italic;}
.go{
  width: 100%;
  text-align: center;
  margin-top:.8rem ;}
.rmber{
  margin-top: .8rem;
}
#remenber{
  margin-right: 4%;}
#boton{
  font-family: Inter;
  padding: .7rem 2.5rem;
  border-radius: 3rem;
  margin: 7% 0;
  background-color: black;
  color: white;
  border: 2px solid whitesmoke;
  font-weight: 600;
  transition: transform .5s ease-in-out 0s;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #ff0000,
    0 0 18px #2f00ff;
  box-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #ff0000,
    0 0 18px #2f00ff;}
.gradient-pattern {
  animation: gradient 4s ease infinite;
  background-image: radial-gradient( #ff0000, #2f00ff);
  background-size: 400% 400%;}
@keyframes gradient {
  0% {
  background-position: 51% 0%;
  }
  50% {
      background-position: 50% 100%;
  }
  100% {
      background-position: 51% 0%;
  }}
@keyframes ani1 {
  0%{font-size: 100%;
    background-color: rgba(0, 0, 0, 0.349);
  }
  50%{
    background-color: #000;
    font-size: 120%;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #ff0000,
    0 0 25px #ff0000,
    0 0 30px #ff0000,
    0 0 35px #1100ff,
    0 0 40px #1100ff,
    0 0 45px #2f00ff;
  }
  100%{
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.349);
  }}
@keyframes ani2 {
  0%{
    transform: scale(1);
  }
  50%{
    transform:scale(1.05);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #ff0000,
    0 0 25px #ff0000,
    0 0 30px #ff0000,
    0 0 35px #1100ff,
    0 0 40px #1100ff,
    0 0 45px #2f00ff;
  }
  100%{
    transform:scale(1)
  }}
@media (min-width:340px) {
  body{
    background-image: url("../resource/background_390x720.jpg");}
}
@media (min-width:390px){
  body{
    background-image: url("../resource/background_425x720.jpg");}
  .top h2{
    font-size:200%;
  }
}
@media (min-width:425px){
  body{
    background-image: url("../resource/background_500x768.jpg");}
  .container{
    width: 60%;
    padding: 2%;
  }
  .top h2{
    font-size:210%
  }
  }
@media (min-width:500px){
  body{
    background-image: url("../resource/background_610x1024.jpg")}
  .container{
    width: 50%;
    padding: 1.5%;
  }
  #boton{
    padding: .9rem 2.7rem;
    margin: 6% 0;
  }
}
@media (min-width:610px){
  body{background-image: url("../resource/background_720x1024.jpg");}
  .container{
    width: 45%;
  }
  .top h2{
    font-size:230%;
  }
}
@media (min-width:720px){
  body{
  background-image:url("../resource/background_875x1024.jpg")}
  .container{
    width: 40%;
  }
  .top h2{
    font-size: 240%;
  }
}
@media (min-width:797px) {
  .box-in{
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0
    }
  .box-in label{
    width: 35%;
  }
  .entrada{
    width: 65%;
  }
  .lost-pass{
    width: 50%;
  }
  .go{
    width: 100%;
    margin-top:1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap:wrap
  }
  .rmber{
    width: 50%;
    margin: 0;
  }
  #boton{
    margin: 5% auto 3%;
  } 
}
@media (min-width:875px){
  body{background-image: url("../resource/background_1024x1080.jpg");}
  .container{
    width: 35%;
  }
}
@media (min-width:1024px){
  body{background-image: url("../resource/background_1366x1080.jpg")}
  .container{
    width: 30%;
    padding: 0.9%;
  }
  .top h2{
    font-size: 280%;
  }
}
@media (min-width:1366px){
  body{background-image: url("../resource/background_1440x1080.jpg")}
  .container{
    width: 25%;
    margin: 0.7%;
  }
  .top h2{
    width: 70%;
    font-size: 290%;
  }
  .top a{
    width: 30%;
  }
}
@media (min-width:1440px){
  body{background-image: url("../resource/background_1920x1080.jpg")}
}
@media (min-width:1831px) {
  .container{
    width: 20%;
    padding:0.5%
  }
}
@media (max-height:580px) {
  body{
    font-size:12px
  }
}
@media (max-width:1024px) and (orientation:landscape) {
  .container{
    width: 35%;
  }
  .top h2{
    font-size: 270%;
    margin: auto;
  }
  .entrada{
    margin-right: 0;
  }
  .box-in{
    margin: 1rem 0 0  ;
  }
  }
@media (max-width:855px) and (orientation: landscape) {
  .container{
    width: 32%;
    padding: 1%;
  }
  .top h2{
    font-size:240%
  }
  #boton{
    padding: .8rem 2.5rem;
  }}
@media (max-width: 768px) and (orientation:landscape){
  .container{
    width:40%}
  
  .top h2{
    font-size:230%;
  }
  .box-in{
    width: 100%;
    margin-top: .5rem 
  }
  .go{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 90%;
  }
  .lost-pass{
    width: 50%;
  }
  .rmber{
    width: 50%;
    margin: 0;
  }
  #boton{
    padding: .7rem 2.7rem;
    margin: 4% 0 2%;
  }}
@media (max-width:578px) and (orientation:landscape) {
  .container{
    width: 50%;
  }
  .top h2{
    font-size:190%;
  }
}
@media (-webkit-min-device-pixel-ratio:3) and (orientation:landscape) {
  .container{
    width: 37%;
  }}
@media (-webkit-min-device-pixel-ratio: 3.5) and (orientation:landscape) {
  .container{
    width: 35%;
    font-size: 100%;
  }
  h2{
    font-size: 220%;
  }}
@media (-webkit-min-device-pixel-ratio: 4) and (orientation:landscape){
  .container{
    width: 40%;
    font-size: 100%;
  }
  h2{
    font-size: 200%;
  }}
@media (prefers-reduced-data: reduce) {
  body{
    background-image: none;
  }
  .container{
    font-size: 90%;
  }
  .top h2{
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-group{
    font-family: Arial, Helvetica, sans-serif;
  }
  #boton{
    font-family: Arial, Helvetica, sans-serif;
  }}